/* ! BODY */

body {
  font-family: 'Redressed', cursive;
}

@media (min-width: 450px) {
  body {
    background-color: rgb(253, 229, 229);
  }
}

@media (min-width: 800px) {
  body {
    background-color: rgb(217, 255, 205);
  }
}

@media (min-width: 1025px) {
  body {
    background-color: rgb(209, 229, 255);
  }
}

/* ! HEADER */

/*
Partie Header
*/

header {
  text-align: center;
  background-color: rgb(238, 238, 238);
}

header .logo {
  height: 100px;
  width: 80px;
  margin: 1rem auto 0;
}

header .top-menu {
  width: 90vw;
  max-width: 90vw;
  text-align: center;
  margin: auto;
}

header .open-menu {
  margin: 1rem auto;
  height: auto;
  height: 50px;
  border: 1px black solid;
}

header .appear {
  height: auto;
  height: 50px;
  border: 1px black solid;
  margin: 2px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

header .hide {
  display: none;
}

/* ? Media au dessus d'un téléphone, pour tablette et mode paysage */

@media (min-width: 450px) {
  header {
    text-align: left;
    display: flex;
    background-color: rgb(255, 179, 179);
  }

  header .logo {
    height: 160px;
    width: 140px;
    margin: 0;
  }

  header .top-menu {
    width: 60%;
  }

  header .appear {
    height: calc(150px / 4);
    font-size: 2rem;
  }
}

/* ? Media au dessus d'une tablette et ses modes paysages, petits écrans */

@media (min-width: 800px) {
  header {
    background-color: rgb(140, 255, 120);
  }

  header .open-menu {
    width: 100%;
  }

  header .logo {
    height: 250px;
    width: 210px;
  }

  header .top-menu {
    display: flex;
  }

  header .appear {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 1.5rem;
  }

  header .menu {
    height: 200px;
    width: 175px;
  }
}

/* ? Media écrans de PC */

@media (min-width: 1025px) {
  header {
    background-color: rgb(148, 173, 255);
  }

  header .open-menu {
    display: none;
  }

  header .top-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header .logo {
    height: 415px;
    width: 350px;
  }

  header .close-menu {
    display: none;
  }

  header #cours,
  header #home,
  header #clicker {
    border: 1px black solid;
    border-radius: 50px;
    width: 49%;
    display: block;
    font-size: 6rem;
  }

  header .men {
    display: inline;
    text-align: center;
  }

  header #cours {
    order: -1;
    width: 100%;
    margin-bottom: 5px;
  }

  header .xl-link {
    width: 100%;
    display: inline-block;
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

/*
Fin Partie Header
*/

/* ! MAIN */

/*
Partie Main
*/

/* TODO HOME */

.home {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.home .intro p {
  margin: 1rem auto;
  font-weight: bold;
}

.home .choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home .choice_link {
  border: black solid 1px;
  width: 90%;
  margin: 1rem auto 0px;
  border-radius: 30px;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 450px) {
  .home {
    font-size: 2.5rem;
  }

  .home .choice_link {
    height: 5rem;
    margin: 2rem auto 0px;
  }
}

@media (min-width: 800px) {

  .home .choice_link {
    height: 8rem;
    font-size: 3rem;
    margin: 3rem auto 0px;
  }

}

@media (min-width: 1025px) {
  .home .choice_link {
    width: 45%;
    margin: 0 auto;
    height: 12.5rem;
    font-size: 5rem;
  }
}

/* TODO CLICKER */

.clicker {
  text-align: center;
  font-size: 2rem;
}

.clicker .game {
  display: flex;
  justify-content: center;
  align-content: center;
}

.clicker #counter {
  border: solid black 3px;
  border-radius: 15px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicker #count {
  font-size: 5rem;
}

.clicker #trophy {
  display: flex;
  flex-wrap: wrap;
}

.clicker #last_trophy {
  display: flex;
  justify-content: center;
}

.clicker .trophy_bloc {
  border: solid #f0f 3px;
  border-radius: 5px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 1.2rem;
  margin: 2px;
}

.clicker .trophy_icon {
  width: 100%;
  font-size: 2rem;
}

/* TODO COURS */

.cours .full_lessons {
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
}

.cours .container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
}

.cours .contain_bis {
  width: 100%;
}

.cours .lesson {
  text-align: center;
  height: 150px;
  width: 120px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cours .image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.cours .vignette {
  position: absolute;
  color: #fff;
  text-shadow: black 1px 1px;
}

.cours h2 {
  font-size: 2rem;
}

/* A MODIFIER SI NECESSAIRE
.cours .contain_lesson h2 {
  font-size: 2rem;
}
*/

@media (min-width: 450px) {
  .cours .full_lessons {
    justify-content: space-around;
  }

  .cours .image {
    border-radius: 50px;
  }

  .cours .container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .cours .contain_bis {
    width: 100%;
  }

  .cours .lesson {
    height: 200px;
    width: 180px;
  }

  .cours h2 {
    font-size: 4rem;
  }

  .cours h3 {
    font-size: 2rem;
  }

  .cours .contain_lesson h2 {
    font-size: 3rem;
  }

  .cours .contain_lesson h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 675px) {
  .cours .lesson {
    height: 250px;
    width: 230px;
  }

  .cours .image {
    border-radius: 60px;
  }

}

@media (min-width: 800px) {
  .cours .container {
    width: 33%;
    margin: 0.5rem 0.1rem;
  }

  .cours .contain_bis {
    width: 100%;
  }

  .cours .image {
    border-radius: 70px;
  }

  .cours .lesson {
    height: 300px;
    width: 270px;
  }

  .cours h2 {
    font-size: 5rem;
  }

  .cours h3 {
    font-size: 3rem;
  }

  .cours .contain_lesson h2 {
    font-size: 4rem;
  }

  .cours .contain_lesson h3 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1025px) {
  .cours .container {
    width: 49%;
  }

  .cours .contain_bis {
    width: 100%;
  }

  .cours .image {
    border-radius: 100px;
  }

  .cours .lesson {
    height: 415px;
    width: 350px;
  }

  .cours h2 {
    font-size: 6rem;
  }

  .cours h3 {
    font-size: 4rem;
  }

  .cours .contain_lesson h2 {
    font-size: 5rem;
  }

  .cours .contain_lesson h3 {
    font-size: 3rem;
  }
}

@media (min-width: 1500px) {
  .cours .container {
    width: 33%;
  }

  .cours .contain_bis {
    width: 100%;
  }
}

/* TODO LESSONS */

.lessons .buttons {
  display: flex;
  justify-content: space-around;
}

#contenu_cours {
  margin: 2rem 5rem auto;
}

.lessons #contenu_cours {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-align: justify;
}

.lessons #contenu_cours p {
  margin: 0.5rem auto;
}

.lessons #contenu_cours h1 {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: red;
}

.lessons #contenu_cours h2 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
  color: green;
}

.lessons #contenu_cours h3 {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem;
  color: orangered;
}

.lessons #contenu_cours strong {
  font-weight: bold;
}

.lessons #contenu_cours em {
  font-style: italic;
  color: gray;
}

.lessons #contenu_cours strong em {
  font-style: italic;
  color: black;
  text-decoration: underline;
}

.lessons #contenu_cours code {
  color: rgb(53, 53, 53);
  font-size: 0.9rem;
  font-weight: bold;
}

.lessons #contenu_cours a {
  text-decoration: underline;
  color: blue;
}

.lessons #contenu_cours a:hover {
  color: green;
}

.lessons #contenu_cours ul {
  margin-bottom: 1rem;
}

.lessons #contenu_cours ul li {
  margin-left: 2rem;
  list-style-type: square;
}

.lessons #contenu_cours ul ul li {
  list-style-type: circle;
}

.lessons #contenu_cours ul ul ul li {
  list-style-type: disc;
}

.lessons #contenu_cours pre {
  border: black 1px solid;
  padding: 0.5rem;
  padding-left: 2rem;
  background-color: rgb(255, 244, 244);
}

.lessons #contenu_cours pre .language-html {
  color: rgb(65, 65, 255);
}

.lessons #contenu_cours pre .language-php {
  color: rgb(99, 202, 86);
}

.lessons #contenu_cours pre .language-js {
  color: rgb(207, 205, 84);
}

.lessons #contenu_cours pre .language-sql {
  color: rgb(202, 86, 86);
}

.lessons #contenu_cours pre .language-json {
  color: rgb(156, 86, 202);
}

.lessons #contenu_cours pre .language-css {
  color: rgb(86, 202, 192);
}

.lessons #contenu_cours pre .language-scss {
  color: rgb(190, 119, 52);
}

.lessons #contenu_cours ul ul ul ul li {
  list-style-type: square;
}

.lessons .container {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 5px auto;
}

.lessons .full_lessons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lessons .lesson {
  text-align: center;
  height: 130px;
  width: 120px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lessons .image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.lessons .vignette {
  position: absolute;
  color: #fff;
  text-shadow: black 1px 1px;
}

.lessons h2 {
  font-size: 1.5rem;
}

.lessons h3 {
  font-size: 0.8rem;
}

@media (max-width: 200px) {
  .lessons .container {
    width: 100%;
  }
}

@media (min-width: 450px) {
  .lessons .container {
    width: 25%;
    margin: 0.5rem auto;
  }
}

@media (min-width: 800px) {
  .lessons .full_lessons {
    flex-wrap: wrap;
  }

  .lessons .lesson {
    height: 180px;
    width: 160px;
  }

  .lessons .image {
    border-radius: 30px;
  }

  .lessons h2 {
    font-size: 2rem;
  }
}

@media (min-width: 1025px) {
  .lessons .container {
    width: auto;
  }
}

.lessons .hide {
  display: none;
}

/*
Fin Partie Main
*/

/* ! FOOTER */

/*
Partie Footer
*/
footer {
  text-align: center;
  margin-top: 1rem;
}

footer .liens_ext {
  height: 2rem;
}

/*
Fin Partie Footer
*/